<mat-toolbar class="docHeader">
  <button mat-icon-button (click)="sidenav.toggle()" title="Show/Hide Menu"
    *ngIf="(isHome)" style="margin-right: 5px">
    <mat-icon class="white-icon">menu</mat-icon>
  </button>
  <h2 class="white-icon" *ngIf="(isHome)">{{title}} </h2>
  <h2 class="white-icon" *ngIf="(!isHome)">{{title}} - {{subTitle}} </h2>
  <span style="width: 50px"></span>
  <span *ngIf="(isHome)">
    <button mat-icon-button matTooltip="New Permit To Export">
      <mat-icon class="white-icon">flight_takeoff</mat-icon>
    </button>
    <button mat-icon-button matTooltip="New Permit To Import">
      <mat-icon class="white-icon">flight_land</mat-icon>
    </button>
  </span>

  <span class="fill-remaining-space"></span>
  <button mat-icon-button (click)="openHelp()" matTooltip="Display help">
    <mat-icon class="white-icon">help_outline</mat-icon>
  </button>
  <!-- <button mat-icon-button matTooltip="{{currentUserName}}">
    <mat-icon class="white-icon">person</mat-icon>
  </button>   -->
  <img class= "docLogo" src="./assets/images/docLogo.png" alt="logo">
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mode">
    <mat-list-item *ngFor="let route of baseNav">
      <a mat-flat-button routerLink="{{route.path}}" routerLinkActive="active" (click)="sidenav.toggle()"> -
        {{route.title}}</a>
    </mat-list-item>
    <div>
      <hr />
      <span class="sidenav-header">New Issue</span>
      <hr />
      <mat-list-item *ngFor="let route of adminNav">
        <a mat-flat-button routerLink="{{route.path}}" routerLinkActive="active" (click)="sidenav.toggle()"> -
          {{route.title}}</a>
      </mat-list-item>
    </div>
    <div>
      <hr />
      <span class="sidenav-header">Dashboard Reports</span>
      <hr size="3" />
      <mat-list-item *ngFor="let route of reportNav">
        <a mat-flat-button routerLink="{{route.path}}" routerLinkActive="active" (click)="sidenav.toggle()"> -
          {{route.title}}</a>
      </mat-list-item>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>